.game {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

p {
    font-size: large;
}

.bar {
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media screen and (max-width: 520px) {
    .game {
        grid-template-columns: repeat(2, 1fr);
    }
}