.game {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

p {
    font-size: large;
}

.bar {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.tip {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
    height: 35px; /* Increased size */
    width: 35px;  /* Increased size */
    border-radius: 25%; /* Adjusted for better visuals */
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tip:hover {
    border: #000 2px solid;
}

.tip:hover svg {
    filter: invert(1);
}

.tip svg {
    border-radius: inherit;
    height: inherit;
    width: inherit;
}