.card {
    aspect-ratio: 5 / 6;
    width: 10rem;
    background-color: white;
}

.permanent-marker-regular {
    font-family: "Permanent Marker", serif;
    font-weight: 400;
    font-style: normal;
}

.card span {
    display: block;
    /* margin: auto auto; */
    text-align: center;
    transform: translateY(1.4rem);
    line-height: 0.8;
}

.image {
    aspect-ratio: 1 / 1;
    width: 8.8rem;
    transform: translate(0.6rem, 0.6rem);
}